# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
src-tauri/target/

# 但是允许上传发布版本
!src-tauri/target/**/release/bundle/dmg/*.dmg
!src-tauri/target/**/release/bundle/macos/*.app

# 临时文件和构建脚本
src-tauri/target/**/release/bundle/dmg/bundle_dmg.sh
src-tauri/target/**/release/bundle/dmg/icon.icns
